// 地图的样式
//以宽度为准
@media screen and (max-width: 1920px) and (min-width: 720px) {
  html {
    font-size: calc(100vw / 1920) !important;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: calc(850px / 1920) !important;
  }
}

:root{
  --opacity:1
  --underground:1
}

._doneCluster{
  opacity: var(--opacity);
}

.clusterIcon:not(.sumeru_underground){
  opacity: var(--underground);
}

html {
  font-size: 1px;
  height: 100%;
  overflow: hidden;
  touch-action: manipulation;
  cursor: url("/imgs/UI_Img_Cursor_PC.png"), auto;
}

.leaflet-popup-pane,
.leaflet-control,
.leaflet-interactive,
.leaflet-grab,
img {
  cursor: url("/imgs/UI_Img_Cursor_PC.png"), auto !important;
}

.main {
  overflow: hidden;
}

#map {
  //   width: 100vw;
  height: 100%;
  background: transparent;
  //   z-index: 1000;
  background: radial-gradient(transparent 70%, rgba(0, 0, 0, 0.5));
}

.leaflet-bottom {
  z-index: 9999;
}

.map_containor {
  position: absolute !important;
  width: 100vw;
  height: 100%;
}

.map_overlay {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1500;
  background: radial-gradient(transparent 70%, rgba(0, 0, 0, 0.6));
  pointer-events: none;
}

.map_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1500;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

//地图弹窗的样式
#popup_window {
  font-family: HYWH;

  .text {
    width: 250rem;
  }

  .q-pa-md {
    padding: 16rem 16rem !important;
  }

  .toggle_btn {
    user-select: none;
    position: relative;
    width: 100%;
    height: 30rem;
    background: #f0e9e2;
    border-radius: 50rem;
    border: 2rem solid #c5b79d;
    margin-top: 10rem;

    .thumb {
      z-index: 1;
      position: absolute;
      width: 50%;
      height: 24rem;
      border-radius: 50rem;

      .thumb_sign {
        position: absolute;
        left: 10rem;
        top: 5rem;
        width: 12rem;
        height: 12rem;
      }
    }

    .text_first,
    .text_last {
      z-index: 2;
      background: rgba(0, 0, 0, 0);
      color: #c5b79d;
      margin: 2rem 4rem 0;
      font-size: 14rem;
      text-align: center;
      // cursor: pointer;
    }
  }

  .toggle_btn.off {
    .text_first {
      color: #fff;
    }

    .thumb {
      border: 1rem solid #a69678;
      background: #cfbfa4;
      left: 2rem;

      .thumb_sign {
        background: url(https://yuanshen.site/imgs/con_img/icon_not.svg) no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  .toggle_btn.on {
    .text_last {
      color: #fff;
    }

    .thumb {
      border: 1rem solid #21707f;
      background: #30a3b9;
      right: 2rem;

      .thumb_sign {
        background: url(https://yuanshen.site/imgs/con_img/icon_find.svg) no-repeat;
        background-size: 100% 100%;
      }
    }
  }

  .close_btn {
    position: absolute;
    right: 15rem;
    top: 15rem;
    background: url(https://yuanshen.site/imgs/con_img/popClose.svg) no-repeat;
    background-size: 100% 100%;
    width: 20rem;
    height: 20rem;
    // cursor: pointer;
  }
}

//左下开关样式
.switch_list {
  user-select: none;
  position: absolute;
  left: 32rem;
  bottom: 40rem;
  z-index: 1500;

  .switch {
    margin-top: 16rem;

    .switch_btn {
      width: 75rem;
      height: 40rem;
      background: url(/imgs/Switch_OFF.png) no-repeat;
      background-size: 100% 100%;
      // cursor: pointer;
    }

    .switch_btn.on {
      background: url(/imgs/Switch_ON.png) no-repeat;
      background-size: 100% 100%;
    }

    .text {
      font-family: HYWH;
      font-size: 28rem;
      color: #fff;
      margin-left: 12rem;
    }
  }
}

//左上开关样式
.extra_btn {
  position: absolute;
  top: 32rem;
  left: 32rem;
  z-index: 6000;

  @media screen and (max-width: 850px) {
    z-index: 1600;
  }

  .btn {
    width: 64rem;
    height: 64rem;
    margin-right: 40rem;
    // cursor: pointer;
  }

  .feedback {
    background: url(/imgs/icon_feedback.png) no-repeat;
    background-size: 100% 100%;
  }

  .discuss {
    background: url(/imgs/icon_fankui.png) no-repeat;
    background-size: 100% 100%;
  }

  .save {
    background: url(/imgs/icon_cloud.png) no-repeat;
    background-size: 100% 100%;
  }
}

//leaflet的一些样式覆盖
.leaflet-popup-content-wrapper {
  background: #f0e9e2;
}

.leaflet-popup-content {
  width: 100% !important;
  margin: 0;
}

.leaflet-popup-close-button {
  display: none;
  zoom: 2;
}

.leaflet-popup {
  left: -142rem !important;

  .leaflet-popup-tip {
    background: #f0e9e2 !important;
    bottom: -19px;
  }
}

.area_components {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
}

.footer a {
  color: $primary;
}

.leaflet-shadow-pane.opacity_on,
.leaflet-marker-pane.opacity_on {
  .opacity_on {
    opacity: 0.3;
  }
}
.leaflet-shadow-pane.underground_on,
.leaflet-marker-pane.underground_on {
  .leaflet-marker-icon:not(.sumeru_underground, .clusterIcon) {
    opacity: 0.3;
  }
}
.leaflet-marker-icon.sumeru_underground .xumu_underground_marker {
  width: 20px;
  height: 20px;
  top: -8px;
  right: -3px;
  position: absolute;
  z-index: 1000;
  background: url(/imgs/layer_underground_mark.png) no-repeat;
  background-size: 100% 100%;
}
.leaflet-marker-icon.sumeru_underground .xumu_underground_teleport_marker {
  width: 12px;
  height: 12px;
  top: 26px;
  right: 0px;
  position: absolute;
  z-index: 1000;
  background: url(/imgs/teleport_underground_icon.png) no-repeat;
  background-size: 100% 100%;
}
